HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Fastlane
mobileApp/android/app/turistmo-private-key.json
mobileApp/android/app/my-upload-key.keystore

# MobileAPP
mobileApp/node_modules
mobileApp/android/*.hprof
*.hprof

# Xcode
mobileApp/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
mobileApp/xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
mobileApp/ios/Pods/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
# Android/IntelliJ
#
.idea
mobileApp/.gradle
local.properties
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### MOBILE APP ###
mobileApp/npm-debug.log
mobileApp/yarn-error.log
npm-debug.log
yarn-error.log

# BUCK
buck-out/
mobileApp/buck-out/
\.buckd/
*.keystore
!debug.keystore

*.jsbundle
!/mobileApp/android/app/my-upload-key.keystore
